.main-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 40vh 0 1vh 0;
}

.main-content {
    height: auto;
    width: 1000px;
    background-color: white;
    border-radius: 10px;
    margin: 0 .75vw 0 0;
}

.main-content-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-content-header h1 {
    font-size: 1.5rem;
    font-weight: 650;
    margin: 5px;
    padding: 10px;
    justify-content: left;
    align-items: center;
}

.main-content-header select {
    text-align: center;
    font-size: .7rem;
    font-weight: 500;
    border-radius: 50px;
    width: 9.0vw;
    height: 3.5vh;
    border: 1px solid #e5e7eb;
    background-color: #f3f4f6;
    margin: 10px
}

.main-content-buttons {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    margin: 10px;
    padding: 10px
}

.main-content-buttons button {
    background-color: rgb(255, 255, 255);
    color: #575757;
    border: none;
    padding: 5px 10px;
    font-size: .85rem;
    font-weight: 700;
    margin: 10px 0;
    cursor: pointer;
    width: 50%;
    height: 30px;
    box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.2);
}

.main-content-buttons button:hover {
    color: rgb(0, 0, 0);
}


.main-content-buttons button:focus {
    box-shadow: rgba(233, 41, 41, 1) 0 3px 0 0;
}

.side-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 350px;
    background-color: white;
    border-radius: 10px;
    margin: 10vh 0 0 0
}

.side-content h1 {
    font-size: 1rem;
    font-weight: 600;
    margin: 10px;
    padding: 10px
}

.gray-line {
    border-top: 1px solid gray;
    height: 1px;
    width: 90%;
}

.side-content-news p img {
    width: 50px;
    height: 30px;
    margin: 5px 0px 5px -5px;
}

.news-title {
    font-size: .8rem;
    font-weight: 700;
}

.news-story {
    font-size: .75rem;
    font-weight: 100;
}

.side-content-story {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: left;
    margin: 10px;
    padding: 10px
}

.side-content-story img {
    width: 65px;
    height: 65px;
    margin-right: 10px;
    border-radius: 10px;
    object-fit: cover;
}
.side-content-news {
    margin: 8px
}

.side-content-story-text .news-story-footer {
    font-size: .6rem;
    color: gray;
    margin-top: 10px;
}

.all-news-tag {
    font-size: .8rem;
    margin: 10px 0;
}

.all-news-tag button {
    background-color: rgb(255, 255, 255);
    color: rgb(5, 99, 193);
    border-radius: 50px;
    border: none;
    padding: 5px 10px;
    font-size: .85rem;
    font-weight: 700;
    margin: 10px 0;
    cursor: pointer;
}

@media screen and (max-width: 1550px) {
    .main-content {
        margin: 20vw 0vw 1vw 6vw;
    }

    .side-content {
        margin: 0vw 5vw 0vw 1vw;
    }
}

@media screen and (max-width: 1300px) {
    .main-content {
        margin: 2vh auto;
        width: 1000px;
    }

    .side-content {
        display: none
    }
}

@media screen and (max-width: 1200px) {
    .main-content-header select {
        display: none;
    }
}

@media screen and (max-width: 767px) {
    .main-container {
        margin: 20vh auto 0 auto;
        width: 100%;
    }
}





