.stats-section-table-titles {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-content-stats {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
    height: auto;
    width: 100%;
    margin: 0 0 0 .75vw;
}

.stats-section {
    margin: 5vh;
    
}

.stats-section-header {
    font-size: 10px;
}

.stats-section-table-titles {
    font-size: 6px;
    font-weight: 500;
}

.stats-gray-line {
    border-top: 1px solid rgb(160, 160, 160);
    height: 1px;
    width: 100%;
    margin: 5px 0;
}

.stat-list-ranking {
    font-size: 12px;
    font-weight: 500;
    margin: 0 5px 0 0;
    color: rgb(112, 112, 112);
    display: flex;
    align-items: center;
}

.stats-list-item {
    font-size: 12px;
    font-weight: 500;
    width: 100%;
    height: 37.5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 5px 0;
    padding-right: 5px
}

.stat-list-name{
    font-size: 14px;
    font-weight: 500;
    margin: 0 0 0 5px;
    color: rgb(5, 99, 193);
    display: flex;
    align-items: center;
}

.stats-list-playerimg {
    height: 37.5px;
    width: 50px;
    margin: 0 5px 0 0;
}

.stats-list-playerteam {
    font-size: 12px;
    font-weight: 500;
    margin: 0 0 0 5px;
    color: rgb(112, 112, 112);
}

.stat-list-stats {
    font-size: 12px;
    font-weight: 500;
    margin: 0 0 0 5px;
    color: rgb(112, 112, 112);
}

.stats-unordered-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.gray-item li {
    background-color: rgb(245, 245, 245);
}