.header {
    display: flex;
    align-items: center;
    position: relative;
    background-color: #2b2c2d;
    color: #fff;
    position: sticky;
    padding: 0;
    width: 100%;
    height: 50px;
}


.header-left-content {
    display: flex;
    align-items: center;
    height: 20px;
    width: 40px;
    cursor: pointer;
    flex-direction: row;
    margin-left: 12vw;
}

.header-left-content img {
    width: 100px;
    height: 50px;
    margin: 0;
    padding: 0;
}

.header-left-content ul {
    display: flex;
    align-items: center;
    justify-content: left;
    flex-direction: row;
    list-style: none;
}

.header-left-content ul li {
    margin-left: 10px;
    font-size: 14px;
    cursor: pointer;
    background-color: #2b2c2d;
    color: #fff;
    border: none;
}

.header-left-content ul li button {
    color: #fff;
    background-color: #2b2c2d;
    border: none;
    width: 150px;
    height: 50px;
    cursor: pointer;
    border: none;
}

.header-left-content ul li button:hover {
    background-color: #545455;
}

.dropdown-menu {
    background-color: #f9f9f9;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 2;
    border-radius: 5px;
    margin-top: 10px;
    margin-left: -10px;
    padding: 0;
    list-style: none;
    float: bottom;
    position: absolute;
    top: 50px;
    left: 325px;
}

.dropdown-list-item {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    cursor: pointer;
    border-radius: 5px;
}

.dropdown-list-item:hover {
    background-color: #f1f1f1;
}

.header-right-content {
    display: flex;
    align-items: center;
    justify-content: right;
    height: 20px;
    width: 40px;
    color: white;
    cursor: pointer;
    flex-direction: row;
    margin-left: 80vw;
}

.header-right-content ul {
    display: flex;
    align-items: center;
    justify-content: right;
    flex-direction: row;
    list-style: none;
}

.header-right-content img {
    width: 75px;
    height: 37.5px;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    height: 50px;
    background-color: #2b2c2d;
    color: #fff;
    position: sticky;
    top: 0;
    z-index: 1;
    padding: 0;
}

.header-right-content ul li {
    margin-left: 5px;
    font-size: 14px;
    cursor: pointer;
    background-color: #2b2c2d;
    color: #fff;
    border: none;
}

.header-right-content ul li button {
    color: #fff;
    background-color: #2b2c2d;
    border: none;
    width: 60px;
    height: 50px;
    cursor: pointer;
    border: none;
}

.header-right-content ul li button:hover {
    background-color: #545455;
}

.header-right-content ul li img {
    width: 25px;
    height: 25px;
}

.header-container .hamburger-menu  {
    display: none;
    width: 50px;
    height: 50px;
    margin: 0;
    padding: 0;
}


@media screen and (max-width: 1300px) {
    .header-container .hamburger-menu {
        display:block
    }

    .header-left-content ul li button{
        display: none;
    }

    .header-left-content {
        margin: 0;
        display: flex;
        justify-content: left;
        align-items: center;
    }
}

@media screen and (max-width: 700px) {
    .header-right-content {
        display: none;
    }
}










